.item{
   max-width: 100%;
   height: auto;
}

.item img{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
   
}

.item p{
    font-size: 12px;
    margin: 5px 0px ;
    width: 210px;
    font-weight: 700;
}

.item-prices{
    font-size: 20px;
    display: flex;
    gap: 20px;
}

.item-price-new{
    color:#374151 ;
    font-size: 15px;
    font-weight: 600;
}

.item-price-old{
    color: #8c8c8c;
    font-size: 15px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

@media(max-width:1280px){
    .item{
        width: 220px;
    }

    .item p{
        width: 190px;
        font-size: 12px;
    }

    .item img{
        width: 200px;
    }

    .item-price-old{
        font-size: 14px;
    }  
}

@media(max-width:1024px){
    .item{
        width: 200px;
        font-size: 12px;
    }

    .item p{
        width: 180px;
    }

    .item img{
        width: 170px;
    }

    .item-price-old{
        font-size: 14px;
    }
}

@media(max-width:800px){
    .item{
        width: 150px;
    }

    .item p{
        width: 120px;
        font-size: 10px;
    }

    .item img{
        width: 120px;
    }

    .item-price-old{
        font-size: 12px;
    }
    .item-price-new{
        font-size: 12px;
    }
}

@media(max-width:500px){
    .item{
        width: 160px;
    }

    .item img{
        width: 160px;
    }
}